:root {
  --header-height: 120px;
  --nav-height: 34px;
  --header-search-height: calc(var(--header-height) - var(--nav-height))
}



/* -------------------------------------------
----------------------------------------------
----------------------------------------------- */



.app {}


/* ------------------------------------
--------------- MAIN ------------------
--------------------------------------- */

.main {
  background-color: #f5f5f5;
  transition: all 0.5s ease-in-out 0.5s;
}

.main__content {
  padding-top: 32px;
  /* display: none; */
}

.main__content>.col {
  width: 100%;
}


.home-filter {
  padding: 12px 22px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.04);
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.home-filter__label-btn {
  margin-right: 12px;
  min-width: 90px;
}

.select-input__label {
  font-size: 1.4rem;
}

.select-input {
  position: relative;
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  position: relative;
  top: 1px;
}

.select-input__list {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  border-radius: 2px;
  background-color: #fff;
  padding: 8px 16px;
  list-style: none;
  -webkit-animation: fadeIn ease-out 0.3s;
  animation: fadeIn ease-out 0.3s;
  z-index: 1;
}

.select-input__link {
  display: block;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 0px;
}

.select-input__link:hover {
  color: var(--primary-color);
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 20px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  flex: 1;
  height: 100%;
  text-align: center;
  line-height: 36px;
  background-color: #fff;
  font-size: 1.5rem;
  color: #555;
}

.home-filter__page-btn:hover {
  cursor: pointer;
}

.home-filter__page-btn:active {
  filter: brightness(95%);
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-product {
  margin-bottom: 30px;
}

.home-product-item {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all linear 0.2s;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);

}

.home-product-item__img {
  padding-top: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-room-item__name {
  padding-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 0px 10px;
  height: 2 rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-item__price {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-item__price-old {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}

.home-product-item__action {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}


.home-product-item__rating {
  font-size: 0.8rem;
  margin: -1px 0 0 auto;
  color: #000;
}

i.home-product-item__rating--gold {
  color: #90ff90;
}

.home-product-item__origin {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 5px 10px 0px 10px;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.home-product__pagination {
  margin: 48px 0 32px 0;
}


/* -----------------------------------
------------ PAGINATION --------------
-------------------------------------- */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  list-style: none;
}

.pagination-item {
  position: relative;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  height: 10px;
  transition: all .2s ease;
  display: block;
  margin: 50%;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
}

.pagination-item.active {
  background-color: #133096;
  color: #fff;
  transform: scale(1.5);
}

.pagination-item.active:hover {
  background-color: #3a5a98;
}

.pagination-item:hover {
    cursor: pointer;
  }