:root {
  --header-height: 120px;
  --nav-height: 34px;
  --header-search-height: calc(var(--header-height) - var(--nav-height))
}

.main {
  background-color: #f5f5f5;
}

.main__content {
  margin-top: 10px;
}

.main__content>.col {
  width: 100%;
}

.room {
  margin-bottom: 30px;
}

.room-item {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all linear 0.2s;
}

.room-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);

}

.room-item__img {
  padding-top: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.room-item__name {
  padding-top: 10px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 0px 10px;
  height: 2 rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.room-item__price {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.room-item__price-old {
  margin-left: 10px;
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
}

.room-item__action {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  margin: 6px 10px 0;
}


.room-item__status {
  font-size: 0.8rem;
  margin: -1px 0 0 auto;
  color: #000;
}

.room-item__status-ok {
  color: #90ff90;
}

.room-item__status-error {
  color: #fc0000;
}

.room-item__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 5px 10px 0px 10px;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.room__pagination {
  margin: 48px 0 32px 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
}

.pagination-item {
  position: relative;
  margin: auto;
  background: #fff;
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  height: 10px;
  transition: all .2s ease;
  display: block;
  margin: 50%;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
  color: #939393;
  min-width: 40px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
}

.pagination-item.active {
  background-color: #133096;
  color: #fff;
  transform: scale(1.5);
}

.pagination-item.active:hover {
  background-color: #3a5a98;
}

.pagination-item:hover {
    cursor: pointer;
}
